/* * {
  background-color: grey;
} */
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-text--1: #ffa500;
  --color-button--1: #ffa500;
  --color-nav-hover--1: #ffa500;
  --color-button--hover--1: #ffc500;
  --color-border--1: #ffa500;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light: #000000;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}
